<nav class="navbar-fixed navbar">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>

      <ul class="nav-items">
        <li><a href="/homepage">View website</a></li>
        <li><button id="logout">Logout</button></li>
      </ul>
    </div>
  </nav>
  