<form action="/update-password" method="POST">
  <label for="oldPassword">Old Password:</label>
  <input type="password" id="oldPassword" name="oldPassword" required />

  <br />

  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" name="newPassword" required />

  <br />

  <button class="btn btn-primary" type="submit">Change Password</button>
</form>

<% if (message) { %>
    <div class="alert alert-info"><%= message %></div>
  <% } %>
