<div class="navbar-fixed">
  <nav class="nav">
    <div class="container nav-wrapper">
      <img
        src="/icon.png"
        height="60"
        alt="ShopSphere Logo"
      />
      <span class="brand-logo">ShopSphere</span>
      <% if(user.email === 'admin@example.com') { %>
        <ul class=" right nav-items">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><button id="logout" class="btn btn__primary">Logout</button></li>
        </ul>
        <% } else { %>
          <ul class="right nav-items">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/contact">Contact</a></li>
          
            <!-- Notifications dropdown with dynamic count -->
            <li class="notifications-dropdown">
              <a href="#!" class="dropdown-trigger" data-target="notifications-dropdown">
                Notifications
                <span class="cart-count">0</span> <!-- Dynamic notification count -->
              </a>
            </li>

              <!-- Shopping cart with dynamic count -->
            <li>
              <a href="/cart" class="cart-button">
                Shopping Cart
                <span class="cart-count">0</span> <!-- Dynamic cart item count -->
              </a>
            </li>
            
           
            <li><a href="#"><%- user.fullName %></a></li>
            <li><button id="logout" class="btn btn__primary">Logout</button></li>
          </ul>
          <% } %>
    </div>
  </nav>
</div>