<div class="navbar-fixed">
  <nav class="nav">
    <div class="container nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <% if(user.email === 'admin@example.com') { %>
        <ul class=" right nav-items">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><button id="logout" class="btn btn__primary">Logout</button></li>
        </ul>
        <% } else { %>
          <ul class="right nav-items">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li class="notifications-dropdown">
              <a href="#!" class="dropdown-trigger" data-target="notifications-dropdown">
                <i class="material-icons">notifications</i>
                <span class="notification-count">0</span>
              </a>
              <ul id="notifications-dropdown" class="dropdown-content">
              </ul>
            </li>
            <li>
              <a href="/cart" class="cart-button">
                <i class="material-icons">shopping_cart</i>
                <span class="cart-count">0</span>
              </a>
            </li>
            <li><a href="#"><%- user.fullName %></a></li>
            <li><button id="logout" class="btn btn__primary">Logout</button></li>
          </ul>
          <% } %>
    </div>
  </nav>
</div>