<%- include('./layout/header') %> 
<%- include('./partials/navbar') %>

<div class="product-detail">
    <img class="product-detail__img" src="https://placehold.co/600x400" alt="Product Image">
    <div class="product-info">
        <h1 class="detail-h1">Text Heading</h1>
        <span class="tag">Tag</span>
        <div class="price">50</div>
        <p>Text</p>
    
        <button class="btn btn__primary">Button</button>
    
        <details>
            <summary>Title</summary>
            <p>Answer the frequently asked question in a simple sentence, a longish paragraph, or even in a list.</p>
        </details>
    </div>
</div>




<%- include('./layout/footer') %>