<div class="container">
    <div class="product-detail">
      <div class="carousel" id="productImageCarousel">
        <!-- Product images -->
      </div>

      <div class="product-info">
        <h1 id="productName"></h1>
        <p id="productCategory"></p>
        <p id="productPrice"></p>
        <p id="productDesc"></p>
    
        <button class="btn btn__primary">Button</button>
    
        <details>
          <summary>Title</summary>
          <p>
            Answer the frequently asked question in a simple sentence, a longish
            paragraph, or even in a list.
          </p>
        </details>
      </div>
    </div>

    <div class="similar-products">
        <h3>Similar Products</h3>
        <div id="similarProductsContainer" class="similar-products-list">
          <!-- Similar products-->
        </div>
      </div>
</div>
