<%- include('./layout/header') %> 
<%- include('./partials/navbar') %>

<div class="container homepage" id="container">
  <h2>Homepage</h2>
  <p>List of products</p>
  <p><%- user.fullName %></p>
</div>

<%- include('./layout/footer') %>
