<%- include('./layout/header') %> <%- include('./partials/navbar') %>

<div class="container homepage" id="container">
  <h2>Homepage</h2>
  <p>List of products</p>

  <%- include('./partials/cards.ejs') %>
</div>

<%- include('./layout/footer') %>
