.navbar {
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar button {
  background-color: #0055ff;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
