:root {
  --font-family: "Inter", sans-serif;

  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --white: #fff;
  --info: #17a2b8;
  --text-dark: #343a40;
  --text-muted: #6c757d;
  --background: #f4f4f4;
  --background-gradient: linear-gradient(to right, var(--background), #c0bcbc);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background: var(--background-gradient);
  height: 100vh;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

a {
  font-size: 13px;
  text-decoration: none;
  color: var(--info);
}

a:hover {
  color: var(--primary);
}

a:active {
  text-decoration: underline var(--primary);
}

.btn {
  padding: 0 30px;
  height: auto;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--primary);
}

.btn__secondary {
  background-color: transparent;
  border-color: var(--white);
}

.toast {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  top: 0;
  animation: move 0.9s ease-out;
}

.toast__success {
  background-color: var(--success);
}

.toast__error {
  background-color: var(--danger);
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
