<footer id="footer">
      <p>Some footer content</p>
  </footer>
  <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>      <script src="/dist/js/scripts.min.js"></script>
</body>
</html>